body {
    margin:0;
    /* font-family:Tahoma; */
    /* overflow:hidden; */
    background: rgb(255, 246, 236);
}
header {
    /* position:fixed; */
    /* width:100%;
    height:100%; */
    /* background:rgba(0,0,0,0.5); */
    /* color:white; */
    text-align:center;
    background:skyblue;
    padding:4%;
}
#canvas canvas {
    display:block;
    margin:0 auto;
}
div.info {
    margin:5%;
}
div.window {
    margin:5%;
    background-color: rgb(131, 176, 228);
    text-align:center;
    border:3px solid rgb(5, 58, 117);
    padding:20px;
}
div.warning {
    margin:5%;
    background-color: rgb(228, 131, 131);
    text-align:center;
    border:3px solid rgb(117, 5, 5);
    padding:20px;
}

footer {
    background:rgb(20, 39, 75);
    color:white;
    text-align:center;
    padding:20px;
    margin-top:20px;
}